:root {
  /*baclgraund color*/
  --b-dark: #2f303a;
  --b-middle: #f5f4fa;
  --b-blue: #2196f3;
  /*text color*/
  --txt-dark: #212121;
  --txt-grey: #757575;
  --txt-light: #ffffff;
  --txt-bleu: #2196f3;
  /*fonts*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

/*=========== Common ===========*/

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--txt-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  background-color: var(--b-blue);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.link-items :hover,
.link-items :focus,
.address:hover,
.address:focus,
.link-contact:hover,
.link-contact:focus,
.link-addres:focus,
.link-addres:hover {
  color: var(--txt-bleu);
}

/*=========== END Common ===========*/

/*=========== header ===========*/
.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.head .container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.menu-links {
  display: flex;
}
.logo {
  font-family: var(--secondary-font);
  color: var(--txt-bleu);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  height: 31px;
}
.head .logo {
  margin-right: 93px;
}

.logo-dark {
  color: var(--txt-dark);
}

.link-items {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.nav-listitems:not(:last-child) {
  margin-right: 50px;
}

.address {
  color: var(--txt-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head .nav-address {
  margin-left: auto;
}

.accent {
  color: var(--txt-bleu);
}

/*=========== END header ===========*/

/*=========== footer ===========*/

.footer {
  background-color: var(--b-dark);
  min-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--txt-light);
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.link-addres {
  color: var(--txt-light);
  margin-bottom: 9px;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
}

.link-contact:not(:last-child) {
  margin-bottom: 9px;
}

/*=========== END footer ===========*/

/*index page*/

/*=========== Hero ===========*/

.hero {
  background-color: var(--b-dark);
  min-height: 600px;
  padding-top: 207px;
  padding-bottom: 193px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero .container {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.main-title {
  color: var(--txt-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0;
}

.btn-hero {
  color: var(--txt-light);
  margin-top: 30px;
  padding: 10px 32px;
}

.btn-hero:hover {
  color: var(--txt-dark);
}
/*=========== END hero ===========*/

/*=========== about ===========*/
.secodary-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description-title {
  color: var(--txt-dark);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  padding-right: 10px;
}

.principle {
  width: 270px;
}

.principle:not(:last-child) {
  margin-right: 30px;
}

.works-box {
  display: flex;
}

.footer .container,
.item-box .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.item-box {
  margin-top: 94px;
}

.item .container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.pictures-box {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.picture:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--b-middle);
  min-height: 648px;
  padding-top: 94px;
}

.card-box {
  margin-top: 50px;
  display: flex;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  height: 368px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worker-name {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.speciality {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/*=========== END about ===========*/

/*portfolio page*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .container {
  width: 1200px;
  /*margin-top: 94px;
  margin-bottom: 94px;*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
  padding: 6px 22px;
}

.btn-portfolio:hover {
  background-color: var(--b-blue);
  color: var(--txt-light);
  border: none;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
}

.portfolio-card {
  display: flex;
  margin-right: 30px;
  min-height: 404px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.portfolio-title {
  color: var(--txt-dark);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-grey);

  margin-top: 4px;
}
